log4j.rootLogger=info, stdout
log4j.logger.treeton.selpref.partialsyntax.TreevialRelationsBuilder=trace, trv
log4j.logger.treeton.selpref.DVCorpusTreetonImpl=trace, rb

log4j.appender.stdout=org.apache.log4j.ConsoleAppender
log4j.appender.stdout.layout=org.apache.log4j.PatternLayout

log4j.appender.stdout.layout.ConversionPattern=%d [%t] %-5p %c - %m%n

# Output partial syntax to partsynt.log
log4j.appender.trv=org.apache.log4j.RollingFileAppender
log4j.appender.trv.File=partsynt.log

log4j.appender.trv.MaxFileSize=10MB
log4j.appender.trv.MaxBackupIndex=1

log4j.appender.trv.layout=org.apache.log4j.PatternLayout
log4j.appender.trv.layout.ConversionPattern=%m%n	

# Output DVCorpusTreetonImpl to relbuilder.log
log4j.appender.rb=org.apache.log4j.RollingFileAppender
log4j.appender.rb.File=relbuilder.log

log4j.appender.rb.MaxFileSize=10MB
# Keep one backup file
log4j.appender.rb.MaxBackupIndex=3

log4j.appender.rb.layout=org.apache.log4j.PatternLayout
log4j.appender.rb.layout.ConversionPattern=%m%n
